@* 
 Страница Index.cshtml представляет собой форму, в которой пользователь может ввести название города и получить текущую температуру в этом городе. *@
@page
@model IndexModel
@{
    ViewData["Title"] = "Погода в городе";
}

<h2>@ViewData["Title"]</h2>


@*При отправке формы будет вызван метод OnPost, который получит текущую температуру введенного города и отобразит ее на странице. *@ 
<form method="post">
    <label for="cityInput">Введите город:</label>
    <input type="text" asp-for="City" id="cityInput">
    <button type="submit">Получить текущую температуру</button>
</form>

@* Выводим текущую температуру, если она получена  *@
@if (!string.IsNullOrEmpty(Model.City)) {
    @if (Model.Temperature != null)
    {
        <p>Текущая температура: @Model.Temperature C°</p>
    }
    else
    {
        <p>Город не найден (возможно введено неправильное название)</p>
    }
}
